body {
	text-align: center;
	background-color: rgb(240, 240, 255);
}

.root>*{
	margin: 20px;
}

.sticker-slot {
	display: inline-grid;
	width: 89px;
	height: 87px;
	text-align: center;
}
.sticker-board {
	margin: auto;
	width: 402px;
	height: 372px;
	padding-top: 30px;
	background-image: url("img/sticker-board.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;
}

.sticker-slot img {
	transition: opacity .2s ease-in-out;
	margin: auto;
}

.sticker-visible {
	opacity: 100%;
}
.sticker-slot:hover img.sticker-visible {
	opacity: 80%;
}

.sticker-invisible {
	opacity: 5%;
}
.sticker-slot:hover img.sticker-invisible {
	opacity: 25%;
}


.inline-container>*{
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

.row>* {
	display: inline-block;
	vertical-align: middle;
}
.col>* {
	display: block;
	align: middle;
}